@media screen and (max-width: 1024px) {
    .slider .slider-caption {
        height: 98%;
      }
}

@media screen and (max-width: 960px) {}

@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
    }

    #toggle-nav, label{
        display: inline-block;
    }

    nav {
        display: none;
    }

    #toggle-nav:checked+header nav {
        display: block;
    }
}

@media screen and (max-width: 640px) {}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 320px) {}