header{
    
}

/* Navigation */
.logo span{
    color: #50b9e1;
}

header .navigation {
    padding: 2rem 15rem;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
}

nav ul li a{
    padding: 0.625rem;
    display: inline-block;
    text-transform: uppercase;
}

nav ul li a:hover{
   color: #50b9e1;
}

#toggle-nav, label{
    display: none;
}


