/* Navigation */
header{
    padding-bottom: 2rem;
}
header .navigation {
    width: 68%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a{
    padding: 0.625rem;
    display: inline-block;
    text-transform: uppercase;
}

nav ul li a:hover{
   color: #50b9e1;
}

#toggle-nav, label{
    display: none;
}

.nav {
	position: -webkit-sticky;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 16%;
    top: 0;
    z-index: 3;
    border-top: 0;
    padding: 0 1rem;
    background-color: rgb(255, 255, 255);
}


